/*  Google fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

/* Variables CSS */
:root{
    --header-height:3.5rem;

/* Colores */
--primer-color:hsl(207,65%, 65%);
--title-color:hsl(207,4%, 16%);
--text-color:hsl(207,4%, 28%);
--text-color-light:hsl(207,4%, 56%);
--body-color:hsl(207,4%, 99%);
--container-color:hsl(207,4%, 95%);

/* tipografias de fuentes */ 
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Lora', serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size:.932rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

/* -gradiente */
--gradient-color: linear-gradient(180deg, hsla(207,48%,72%, 0 ), hsña(207, 65%, 65%, 1));

/*  z-index----- */
--z-nomal: 1;
--z-tooltip: 10;
--z-fixed: 100;

/*  peso  de fuente */

--font-medium: 500;
--font-semi-bold: 600;


}
/* Responsive */
@media screen and (min-width: 1024px){
    :root{
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .688rem;
    }    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color:  var(--body-color);
    color: var(--text-color);
    transition: background .5s; 
    /* Solo para el modo dark   */
}

h1,h2,h3{
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/* temas */
.navButtons{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.changeTheme{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
}
/* Variables del tema  */
body.darkTheme{

    --title-color:hsl(207, 4%, 95%);
    --text-color:hsl(207, 4%, 65%);
    --body-color:hsl(207, 4%, 10%);
    --container-color:hsl(207,4%, 12%);
}
/* cambio de colores en pagina  */
.darkTheme .nav, .darkTheme .navMenu, .darkTheme .scrollUp{
    background-color: var(--container-color);
    box-shadow: 0 4px 20px hsl(207, 24%, 8% , .4);
}
.darkTheme .homeSocial-link{
    color: var(--title-color);
}
.darkTheme .sectionBorder{
    border-bottom: 1px solid hsl(207, 40%, 32%);
}

.darkTheme::-webkit-scrollbar{
    background-color: hsl(207, 4%, 15%);
}
.darkTheme::-webkit-scrollbar-thumb{
    background-color: hsl(207, 4%, 25%);
}
.darkTheme::-webkit-scrollbar-thumb:hover{
    background-color: hsl(207, 4%, 35%);
}
/* css clases */
.container{
    max-width: 1024px;
    margin-inline: 1.5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding-block: 2.5rem;
}
.sectionBorder{
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
}
.sectionTitle, .sectionSubtitle{
    text-align: center;
}
.sectionTitle{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}
.sectionSubtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-bottom: 3rem;
}
/*  animacion*/
.main{
    overflow: hidden; 
}

/* Nav y Header */
.header{
    width: 100%;
    position: fixed;
    bottom: 2rem;
    left: 0;
    z-index: var(--z-fixed);
}
.nav{
    height: calc(--header-height) + .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207,24%,35%, .1);
    padding-inline: 1.5rem;
    border-radius: 3rem;
    transition: background .5s; 
    /* Solo para el modo dark   */
}

.navLogo, .navToggle , .navClose{
    color: var(--title-color);
}
.navLogo{
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}
.navToggle{
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
}
@media screen and (max-width: 1023px){
    .navMenu{
        position: fixed;
        width: 88%;
        left: 0;
        right: 0;
        bottom: -60%;
        margin: 0 auto;
        background-color: var(--body-color);
        box-shadow: 0 4px 20px hsla(207,24%,35%, .1);
        padding: 2rem 1.5rem 5rem;
        border-radius: 2rem;
        transition: bottom .3s;
    }    
}

.navList{
    grid-template-columns: repeat(3 , max-content);
    justify-content: center;
    gap: 2rem 3rem;
}
.navLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: .3s;
}
.navLink:hover{
    color: var(--title-color);
}
.navLink i{
    font-size: 1.25rem;
}
.navClose{
    position: absolute;
    right: 1.5rem;
    bottom: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Show menu*/
.showMenu{
    bottom: 2rem;
}

/* activacion de link  */
.activeLink{
    color: var(--title-color);
}
/* home */
.homeContainer{
    row-gap: 4rem;
    padding-top: 2rem;
}
.homeData{
    row-gap: 1.5rem;
}
.homeTitle{
    text-align: center;
    font-size: var(--biggest-font-size);
    letter-spacing: .3px;
    margin-bottom: .5rem;
}
.homeBlob{
    position: relative;
    width: 190px;
    height: 228px;
    background-color: var(--body-color);
    border: 2px solid var(--text-color-light);
    justify-self: center;
    border-radius: 6.25rem;
    place-items: center;
    transition: background .5s; 
    /* Solo para el modo dark   */
}
.homePerfil{
    width: 170px;
    height: 210px;
    background: var(--gradient-color);
    border-radius: 5.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.homeSocial{
    justify-self: center;
    display: flex;
    column-gap: 1.25rem;
}
.homeSocial-link{
    font-size: 1.25rem;
    color: var(--text-color-light);
    transition: color .3s;
}
.homeInfo{
    display: grid;
    row-gap: 2rem;
}
.homeInfo-title{
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
    font-weight: 400;
    color: var(--text-color-light);
    margin-bottom: 1rem;
}
.homeInfo-description, .homeInfo-number{
    font-family: var(--title-font);
    color: var(--title-color);
}
.homeInfo-description{
    padding-right: 4rem;
}
.homeInfo-number{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}
/*-------- skill */

.skillsContainer{
    row-gap: 3.5rem;
}
.skillsTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}
.skillsInfo, .skillsData, .skillsBlob{
    display: grid;
}
.skillsInfo{
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
}
.skillsData{
    justify-content: center;
    text-align: center;
}
.skillsBlob{
    width: 80px;
    height: 100px;
    background-color: var(--container-color);
    border-radius: 3rem;
    place-items: center;
    margin-bottom: 1rem;
    transition: background .5s; 
    /* Solo para el modo dark   */
}
.skillsBlob img{
    width: 40px;
}
.skillsName{
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}
.skillsSubtitle{
    font-size: var(--tiny-font-size);
    color: var(--text-color-light);
}

/* ---------> Animacion de skills  */
.skillsBlob:hover img{
    animation: bounce-skills .6s;
}
@keyframes bounce-skills{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translateY(6px);
    }
    40%{
        transform: translate(0);
    }
    60%{
        transform: translateY(3px);
    }
    80%{
        transform: translate(0);
    }
}

/* ------->Calificacion  */
.qualification{
    position: relative;
}
.qualificationContainer{
    row-gap: 3.5rem;
}
.qualificationTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2rem;
}
.qualificationTitle i{
    font-size: 1rem;
    font-weight: initial;
}
.qualificationInfo{
    display: grid;
    row-gap: 2rem;
}
.qualificationName{
    font-size: var(--normal-font-size);
    margin-bottom: 1.25rem;
}
.qualificationCountry, .qualificationYear{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.qualificationCountry{
    margin-bottom: .75rem;
}

/* ------------> Servicios */
.servicesContainer{
    row-gap: 2.5rem;
    justify-content: center;
}
.servicesCard{
    position: relative;
    width: 228px;
    height: 322px;
    background-color: var(--container-color);
    text-align: center;
    padding: 3.5rem 1rem;
    border-radius: 7.25rem;
    transition: background .5s; 
    /* Solo para el modo dark   */
}
.servicesCard i{
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: .75rem;
    transition: transform .8s;
}
.servicesTitle{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1.5rem;
}
.servicesBorder{
    width: 248px;
    height: 342px;
    border: 1.8px solid var(--text-color-light);
    border-radius: 7.75rem;
    position: absolute;
    inset: 0;
    left: -10px;
    margin: auto;
    z-index: -1;
    transition: opacity .6s;
    opacity: 0;
}
.servicesCard:hover i{
    transform: rotateX(360deg);
}
.servicesCard:hover .servicesBorder{
    opacity: 1;
}

/*  -------------> Proyectos */

.projectsContainer{
    overflow: initial;
}
.projectsContent{
    display: grid;
    justify-content: center;
}
.projectsImg{
    width: 250px;
    border-radius: .75rem;
    margin-bottom: 1.25rem;
}
.projectsSubtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.projectsTitle{
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
    margin: .5rem 0 1.25rem;
}
.projectsBtn{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
}
.projectsBtn i{
    font-size: 1rem;
    transition: transform .3s ;
}
.projectsBtn:hover i{
    transform: translateX(.25rem);
}

/*  -- Swipper clases--- */

.projectsContainer .swiper-button-prev::after,
.projectsContainer .swiper-button-next::after{
    content: '';
}
.projectsContainer .swiper-button-prev,
.projectsContainer .swiper-button-next{
    width: initial;
    height: initial;
    margin: initial;
    font-size: 2.5rem;
    color: var(--title-color);
}
.projectsContainer .swiper-button-prev{
    left: -1rem;
    top: 4.5rem;
}
.projectsContainer .swiper-button-next{
    right: -1rem;
    top: 4.5rem;
}
.projectsContainer .swiper-slide{
    margin-bottom: 4.5rem;
    display: grid
}
.projectsContainer .swiper-pagination-bullets{
    bottom: 0;
}
.projectsContainer .swiper-pagination-bullet{
    background-color: var(--text-color-light);
    opacity: initial;
}
.projectsContainer .swiper-pagination-bullets-active{
    background-color: var(--title-color);
}
/* ---------Contacto -> Form */
.contactContainer{
    row-gap: 3.5rem;
}
.contactTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}
.contactTitle i{
    font-size: 1rem;
    font-weight: initial;
}
.contactInfo, .contactData, .contactForm{
    display: grid;
}
.contactInfo{
    row-gap: 2rem;
}
.contactData{
    row-gap: .75rem;
}
.contactData-Title{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.contactData-Info{
    font-size: var(--small-font-size);
    font-family: var(--title-font);
    color: var(--title-color);
}

.contactBtn{
    width: max-content;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}
.contactBtn i{
    font-size: 1rem;
    transition: transform .3s;
}
.contactBtn:hover i{
    transform: translateX(.25rem);
}
.contactForm{
    position: relative;
    row-gap: 2rem;
}
.contactForm-div{
    position: relative;
    height: 4rem;
}
.contactForm-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    border-radius: 2rem;
    padding: 1.5rem;
    font-size: var(--normal-font-size);
    font-family: var(--title-font);
    color: var(--title-color);
    background: none;
    outline: none;
    z-index: 1;
}
.contactForm-tag{
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    z-index: 10;
    background-color: var(--body-color);
    color: var(--title-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    padding: .35rem;
    transition: background .5s; 
    /* Solo para el modo dark   */
}
.contactForm-area{
    height: 10rem;
}
.contactForm-area textarea{
    resize: none;
}
.contactForm .contactBtn{
    border: none;
    background: none;
    font-size: var(--h2-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    outline: none;
    margin-top: .75rem;
}
.contactForm .contactBtn i{
    font-size: 1.5rem;
    font-weight: initial;
}
.contactMessage{
    font-size: var(--small-font-size);
    position: absolute;
    bottom: 2.8rem;
    left: 1.5rem;
}

/* color de estado del mensaje */
.color-red{
    color: hsl(4, 71%, 50%);
}
.color-blue{
    color: blue;
}

/* --------> Footer  */
.footerContainer{
    padding: 3rem 0 7rem;
    text-align: center;
}
.footerTitle{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}

.footerList,.footerSocial{
    display: flex;
    justify-content: center;
}
.footerList{
    margin: 2.5rem 0;
    column-gap: 2.5rem;
}
.footerLink{
    color: var(--title-color);
}
.footerLink:hover{
    text-decoration: underline;
}
.footerSocial{
    column-gap: 1.25rem;
}
.footerSocial-link{
    font-size: 1.30rem;
    color: var(--title-color);
    transition: transform .3s;
}
.footerSocial-link:hover{
    transform: translateY(-.15rem);
}
.footerCopy{
    display: block;
    margin-top: 4.5rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/* ----------> Scrooll bar */
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(207, 4%, 65%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(207, 4%, 55%);
}

/* Scroll activado en el link  */
.scrollUp{
    position: fixed;
    right: 1rem;
    bottom: 15%;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsl(207, 24%, 35% , .15);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: bottom .3s, transform .3s;
}
.scrollUp:hover{
    transform: translateY(-.25rem);
}
/* show scrollUP  */

.show-scroll{
    bottom: 7.5rem;
}

/*  Responsive */
@media screen and (max-width: 340px){
    .container{
        margin-inline: 1rem;
    }
    .navMenu{
        padding-bottom: 4rem;
    }
    .navList{
        gap: 1rem 1.25rem;
    }
    .skillsInfo{
        grid-template-columns: repeat(2, 1fr);
    }
    .projectsImg{
        width: 200px;
        justify-self: center;
    }
}
/* Responsives Md */
@media screen and (min-width: 576px){
    .nav , .navMenu{
        width: 380px;
    }
    .nav{
        margin: 0 auto;
    }
    .skillsContainer{
        justify-content: center;
    }

    .projectsContainer{
        width: 400px;
    }
    .projectsContainer{
        overflow: hidden;
    }
    .projectsContainer .swiper-button-prev{
        left: 1rem;
    }
    .projectsContainer .swiper-button-next{
        left: 17rem;
    }
}
@media screen and (min-width: 767px){
    .homeContainer{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .homeData{
        order: 2;
    }
    .homeInfo:nth-child(3){
        order: 3;
        text-align: right;
    }
    .homeInfo{
        margin-top: 10rem;
    }
    .homeInfo-description{
        padding-right: 0;
    }
    .skillsContainer , .qualificationContainer , .servicesContainer , .contactContainer{
        grid-template-columns: repeat(2, max-content);
    }
    .skillsContainer, .servicesContainer{
        column-gap: 5rem;
    }
    .qualificationContainer{
        justify-content: center;
        column-gap: 10rem;
    }
    .projectsContainer{
        widows: 500px;
    }
    .contactForm{
        width: 360px;
    }
    .contactContainer{
        justify-content: center;
        column-gap: 8rem;
    }
}

@media screen and (min-width: 1023px){
    .header{
        top: 0;
        bottom: initial;
        background-color:var(--body-color);
        transition: .4s;
    }
    .nav{
        width: initial;
        height: calc(--header-height) + 1.5rem;
        box-shadow: none;
        border-radius: 0;
        column-gap: 3rem;
        margin-inline: 1.5rem;
        padding: 0;
    }
    .navLink i, .navToggle , .navClose{
        display: none;
    }
    .navMenu{
        width: initial;
        margin-left: auto;
        background-color: var(--body-color);
        transition: background .4s;
    }
    .navList{
        display: flex;
        column-gap: 3rem;
    }
    .navLink{
        font-size: var(--normal-font-size);
    }
    .darkTheme .nav, .darkTheme .navMenu{
        background-color: var(--body-color);
        box-shadow: none;
    }
    .changeTheme{
        color: var(--text-color-light);
    }
    .changeTheme:hover{
        color:var(--title-color);

    }
    .section{
        padding-block:  8rem 0;
    }
    .homeTitle{
        font-size: 2.25rem;
    }
    .scrollUp{
        right: 3rem;
    }
    .show-scroll{
        bottom: 5rem;
    }

    /* Cambios en el header  */
    .br-header{
        box-shadow: 0 4px 20px hsla(207, 24%, 35%,  .1);
    }
    .darkTheme .br-header{
        box-shadow: 0 6px 24px hsla(207, 24%, 8%, .6);
    }
}

@media screen and (min-width: 1048px) {
    .container{
        margin-inline: auto;
    }    
}
@media screen and  (min-width: 1200px){
    .sectionBorder{
        padding-bottom: 6rem;
    }
    .homeTitle{
        font-size: var(--biggest-font-size);
    }
    .homeBlob{
        border-radius: 10.5rem;
    }
    .homePerfil img{
        width: 300px;
    }
    .homeData{
        row-gap: 2.5rem;
    }
    .homeSocial-link{
        column-gap: 2rem;
    }
    .homeInfo{
        grid-template-columns: repeat(3, 150px);
        row-gap: 4rem;
        margin-top: 16rem;
    }
    .homeInfo-description{
        row-gap: 2rem;
        margin-top: 2rem;

    }
    .skillsContainer{
        column-gap: 10rem;
    }
    .skillsTitle{
        margin-bottom: 3rem;
    }
    .skillsTitle i{
        font-size: 1.25rem;
    }
    .skillsName{
        font-size: var(--normal-font-size);
    }
    .skillsInfo{
        gap: 3rem;
    }
    .qualificationContainer{
        column-gap: 14rem;
    }
    .qualificationTitle{
        margin-bottom: 3rem;
    }
    .qualificationTitle i{
        font-size: 1.25rem;
    }
    .qualificationName{
        font-size: var(--h3-font-size);
    }
    .servicesContainer{
        grid-template-columns: repeat(3, max-content);
    }
    .servicesCard{
        width: 245px;
        height: 345px;
        border-radius: 7.6rem;
        padding: 3.5rem 1.5rem;
    }
    .servicesCard i{
        font-size: 2.5rem;
    }
    .servicesBorder{
        width: 265px;
        height: 365px;
        border-radius: 8.25rem;
    }
    .projectsContainer{
        width: 900px;
    }
    .projectsContainer .swiper-button-next,.swiper-button-prev{
        font-size: 3rem;
    }
    .projectsContainer .swiper-button-prev{
        left: -1rem;
    }
    .projectsContainer .swiper-button-next{
        left: 55rem
    }
    .projectsContainer .swiper-slide{
        margin-bottom: 6.5rem;
    }
    .projectsImg{
        width: 320px;
        margin-bottom: 2rem;
    }
    .contactTitle i{
        font-size: 1.25rem;
    }
    .contactTitle{
        margin-bottom: 3rem;
    }
    .contactInfo{
        row-gap: 3rem;
    }
    .contactData-Info{
        font-size: var(--normal-font-size);
    }
    .contactForm{
        row-gap: 2.5rem;
    }    
    .footerContainer{
        padding: 4rem 0 3rem;
    }
    .footerList{
        column-gap: 3rem;
        margin: 3rem 0;
    }
    .footerSocial{
        column-gap: 2rem;
    }
    .footerSocial-link{
        font-size: 1.5rem;
    }
    .footerCopy{
        margin-top: 5rem;
    }    
}